{% extends "../base_with_navbar.html" %}

{% block content %}
<main class="site-body">
  <div class="main-header">
    <div class="content">
      <div class="fg"></div>
      <h1>장비 목록</h1>
    </div>
  </div>

  <div class="contents">

    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <form class="d-flex" action="" method="get">
          <input class="form-control me-2" type="search" placeholder="장비 S/N" name="q" aria-label="Search" value="{{ q }}">
          <button class="btn btn-primary" type="submit">조회</button>
        </form>
        <button type="button" class="cp-ic-button circle newreview" data-bs-toggle="modal" data-bs-target="#addModal">
          장비 추가
        </button>
      </div>
    </nav>

    <!-- 장비 현황 리스트 -->
    <table class="table table-hover">
      <thead>
        <tr class="text-center">
          <th scope="col">No.</th>
          <th scope="col">
            장비명
            <form method="get" action="" class="selected">
              <select name="inst_name" class="form-select" aria-label="Default select example" onchange="location=this.value;">
                <option value="">장비명</option>
                <option value="?inst_name=">전체</option>
                {% for category in subcategory_list %}
                  <option value="?inst_name={{ category.Subcategory }}">{{ category.Subcategory }}</option>
                {% endfor %}
              </select>
            </form>
          </th>
          <th scope="col">장비 S/N</th>
          <th scope="col">컴퓨터 S/N</th>
          <th scope="col">
            시작일
            <form method="get" action="" class="selected">
              <select name="start_date" class="form-select" aria-label="Default select example" onchange="location=this.value;">
                <option value="" selected>순서</option>
                <option value="?start_date=오름차순">오름차순</option>
                <option value="?start_date=내림차순">내림차순</option>
              </select>
            </form>
          </th>
          <th scope="col">
            완료일
            <form method="get" action="" class="selected">
              <select name="completed_date" class="form-select" aria-label="Default select example" onchange="location=this.value;">
                <option value="" selected>순서</option>
                <option value="?completed_date=오름차순">오름차순</option>
                <option value="?completed_date=내림차순">내림차순</option>
              </select>
            </form>
          </th>
          <th scope="col">
            검사자
            <form method="get" action="" class="selected">
              <select name="inspector" class="form-select" aria-label="Default select example" onchange="location=this.value;">
                <option value="" selected>순서</option>
                <option value="?inspector=오름차순">오름차순</option>
                <option value="?inspector=내림차순">내림차순</option>
              </select>
            </form>
          </th>
          <th scope="col">
            현황
            <form method="get" action="" class="selected">
              <select name="status" class="form-select" aria-label="Default select example" onchange="location=this.value;">
                <option value="" selected>상태</option>
                <option value="?status=">전체</option>
                <option value="?status=검사대기">검사대기</option>
                <option value="?status=검사진행중">검사진행중</option>
                <option value="?status=부적합">부적합</option>
                <option value="?status=재검사중">재검사중</option>
                <option value="?status=검사완료">검사완료</option>
              </select>
            </form>
          </th>
          <th scope="col">검사</th>
        </tr>
      </thead>
      <tbody>
      {% if instrument_list %}
      {% for instrument in instrument_list %}
        <tr class="text-center">
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ instrument.Name }}</td>
          <td>{{ instrument.SN }}</td>
          <td>{{ instrument.Computer_SN }}</td>
          <td>{{ instrument.Start_Date }}</td>
          <td>{{ instrument.Completed_Date }}</td>
          <td>{{ instrument.Inspector }}</td>
          <td>
            {% if instrument.Status == "검사대기" %}
              <h4><span class="badge rounded-pill bg-primary ">{{ instrument.Status }}</span></h4>
            {% elif instrument.Status == "검사진행중" %}
              <h4><span class="badge rounded-pill bg-secondary">{{ instrument.Status }}</span></h4>
            {% elif instrument.Status == "부적합" %}
              <h4><span class="badge rounded-pill bg-danger">{{ instrument.Status }}</span></h4>
            {% elif instrument.Status == "재검사중" %}
              <h4><span class="badge rounded-pill bg-warning text-dark">{{ instrument.Status }}</span></h4>
            {% elif instrument.Status == "검사완료" %}
              <h4><span class="badge rounded-pill bg-success">{{ instrument.Status }}</span></h4>
            {% endif %}
          </td>
          <td><button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#startModal">Start</button></td>
        </tr>
      {% endfor %}
      {% else %} <!-- 게시글 쿼리셋이 존재하지 않을 때-->
        {% if q %} <!-- 검색어와 일치하는 결과가 없을 때 -->
        <tr class="text-center">
          <td colspan="9">일치하는 검색 결과가 없습니다.</td>
        </tr>
        {% else %} <!-- 검색어가 없을 때 -->
        <tr class="text-center">
          <td colspan="9"></td>
        </tr>
        {% endif %}
      {% endif %}
      </tbody>
    </table>

    <!-- 장비 추가 모달 -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">장비 추가</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="" method="post" class="selected">
            {% csrf_token %}
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">장비명</th>
                    <th scope="col">장비 S/N</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <select class="form-select" aria-label="Default select example" name="s1">
                        {% for category in subcategory_list %}
                          <option value={{ category.Subcategory }}>{{ category.Subcategory }}</option>
                        {% endfor %}
                      </select>
                    </td>
                    <td>
                      <input type="text" class="form-control" aria-label="Instrument_SN" aria-describedby="addon-wrapping" name="s2">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">확인</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- 성적서 생성 모달 -->
    <div class="modal fade" id="startModal" tabindex="-1" aria-labelledby="startModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="startModalLabel">성적서 생성</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            장비명 :
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">확인</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
    $(document).ready(function() {
        $( "select[name=inst_name]" ).val( "{{ category.Subcategory }}" );
        $("select[name=inst_name]").change(function () {
        console.log($("select[name=inst_name]").val());
        inst_name = $("select[name=inst_name]").val();
        $('.form').submit();
        });
    });
    </script>
  </div>
</main>
{% endblock content %}
