{% extends "../base_with_navbar.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                 <div class="alert alert-danger" role="alert" >
                      동일한 시리얼번호가 있습니다. 다시 장비 추가 해주시기 바랍니다.
                    </div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container-fluid">
        <div class="bg-light rounded p-4">
            {# content 상단 #}
            <div class="row">
                <div class="col"></div>
                {# 타이틀 #}
                <div class="col-4" style="text-align: center;">
                    <h1>Instrument List</h1>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-4" style="text-align: center;">
                </div>
                <div class="col" style="text-align: right;">
                    <button type="button" class="cp-ic-button circle newreview" data-bs-toggle="modal" data-bs-target="#fileModal">
                        장비 추가(*.xlsx)
                    </button>
                    <button type="button" class="cp-ic-button circle newreview" data-bs-toggle="modal" data-bs-target="#addModal">
                        장비 추가(직접 입력)
                    </button>
                </div>
            </div>
            <div class="container-fluid">
                <!-- 장비 현황 리스트 -->
                <table id="instrument-table" class="table table-hover table-bordered">
                    <thead style="background-color: #DCEBFF">
                    <form method="get" action="" class="selected">
                        <tr class="text-center" style="cursor:pointer">
                            <th scope="col">No.</th>
                            <th scope="col">장비명
{#                                <select name="inst_name" class="form-select" aria-label="Default select example" onchange="location=this.value;">#}
{#                                    <option value="">장비명</option>#}
{#                                    <option value="?inst_name=">전체</option>#}
{#                                    {% for category in subcategory_list %}#}
{#                                        <option value="?inst_name={{ category.Subcategory }}">{{ category.Subcategory }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
                            </th>
                            <th scope="col">장비 S/N</th>
                            <th scope="col">컴퓨터 S/N</th>
                            <th scope="col">시작일
{#                                <select name="start_date" class="form-select" aria-label="Default select example" onchange="location=this.value;">#}
{#                                    <option value="" selected>순서</option>#}
{#                                    <option value="?start_date=오름차순">오름차순</option>#}
{#                                    <option value="?start_date=내림차순">내림차순</option>#}
{#                                </select>#}
                            </th>
                            <th scope="col">완료일
{#                                <select name="completed_date" class="form-select" aria-label="Default select example" onchange="location=this.value;">#}
{#                                    <option value="" selected>순서</option>#}
{#                                    <option value="?completed_date=오름차순">오름차순</option>#}
{#                                    <option value="?completed_date=내림차순">내림차순</option>#}
{#                                </select>#}
                            </th>
                            <th scope="col">
                                검사자
{#                                <select name="inspector" class="form-select" aria-label="Default select example" onchange="location=this.value;">#}
{#                                    <option value="" selected>순서</option>#}
{#                                    <option value="?inspector=오름차순">오름차순</option>#}
{#                                    <option value="?inspector=내림차순">내림차순</option>#}
{#                                </select>#}
                            </th>
                            <th scope="col">현황
{#                                <select name="status" class="form-select" aria-label="Default select example" onchange="location=this.value;">#}
{#                                    <option value="" selected>상태</option>#}
{#                                    <option value="?status=">전체</option>#}
{#                                    <option value="?status=검사대기">검사대기</option>#}
{#                                    <option value="?status=검사진행중">검사진행중</option>#}
{#                                    <option value="?status=부적합">부적합</option>#}
{#                                    <option value="?status=재검사중">재검사중</option>#}
{#                                    <option value="?status=검사완료">검사완료</option>#}
{#                                </select>#}
                            </th>
                            <th scope="col">검사</th>
                        </tr>
                    </form>
                    </thead>
                    <tbody>
                    {% if inspection_list %}
                        {% for instrument in inspection_list %}
                            <tr class="text-center">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ instrument.Name }}</td>
                                <td>{{ instrument.Instrument_SN_id }}</td>
                                <td>{{ instrument.Computer_SN }}</td>
                                <td>
                                    {% if instrument.Start_Date != null %}
                                        {{ instrument.Start_Date|date:'Y-m-d' }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if instrument.Completed_Date != null %}
                                        {{ instrument.Completed_Date|date:'Y-m-d' }}
                                    {% endif %}
                                </td>
                                <td>{{ instrument.Inspector }}</td>
                                <td>
                                    {% if instrument.Status == "검사대기" %}
                                        <h4><span class="badge rounded-pill bg-primary ">{{ instrument.Status }}</span></h4>
                                    {% elif instrument.Status == "검사진행중" %}
                                        <h4><span class="badge rounded-pill bg-secondary">{{ instrument.Status }}</span></h4>
                                    {% elif instrument.Status == "부적합" %}
                                        <h4><span class="badge rounded-pill bg-danger">{{ instrument.Status }}</span></h4>
                                    {% elif instrument.Status == "재검사중" %}
                                        <h4><span class="badge rounded-pill bg-warning text-dark">{{ instrument.Status }}</span></h4>
                                    {% elif instrument.Status == "검사완료" %}
                                        <h4><span class="badge rounded-pill bg-success">{{ instrument.Status }}</span></h4>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if instrument.Status == "검사완료" or instrument.Status == "부적합" %}
                                    {% else %}
                                        <a href="{% url 'Inspectionapp:update' instrument.Instrument_SN_id %}">
                                            <button type="button" class="btn btn-outline-primary" >Start</button>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %} <!-- 게시글 쿼리셋이 존재하지 않을 때-->
                        {% if q %} <!-- 검색어와 일치하는 결과가 없을 때 -->
                            <tr class="text-center">
                                <td colspan="9">일치하는 검색 결과가 없습니다.</td>
                            </tr>
                        {% else %} <!-- 검색어가 없을 때 -->
                            <tr class="text-center">
                                <td colspan="9"></td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 장비 추가(엑셀) 모달 -->
    <div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="fileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileModalLabel">장비 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div id="displayExcel">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input class="form-control" type="file" id="inputExcelRead" onchange="ExcelImport(event)"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        <button type="submit" class="btn btn-primary">확인</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 장비 추가(직접 입력) 모달 -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">장비 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="post" class="selected">
                    {% csrf_token %}
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">장비명</th>
                                <th scope="col">장비 S/N</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <select class="form-select" aria-label="Default select example" name="s1">
                                        {% for category in subcategory_list %}
                                            <option value={{ category.Subcategory }}>{{ category.Subcategory }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" aria-label="Instrument_SN" aria-describedby="addon-wrapping" name="s2">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">확인</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 성적서 생성 모달 -->
    <div class="modal fade" id="startModal" tabindex="-1" aria-labelledby="startModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="startModalLabel">성적서 생성</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <tr>
                            <th scope="row">장비명</th>
                            <td>
                                <h6 class="text-name"></h6>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">장비 S/N</th>
                            <td>
                                <h6 class="text-SN"></h6>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">담당자</th>
                            <td>
                                <input type="text" id="inspector" aria-label="Instrument_Name" aria-describedby="addon-wrapping" name="inspector">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">시작일</th>
                            <td>
                                <div class="form-group is-valid">
                                    <input type="date" maxlength="50" class="form-control" placeholder="Start_Date" id="Start_Date" name="start_date">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <a id="update_SN" class="update_SN" href="#">
                        <button type="submit" class="btn btn-primary">확인</button>
                    </a>
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" href="#">취소</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '../static/js/Inspectionapp.js' %}"></script>
    <script src="{% static '../static/js/Instrumentapp.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>  {# Bootstrap5 #}
    <script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.18.7/package/dist/xlsx.mini.min.js"></script>  {# SheetJS #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  {# jquery #}
{#    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script> #} {# tableExport #}

    {# DataTable (MIT license) #}
{#    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>#}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#instrument-table').DataTable({
                dom: "<'row'<'col-sm-5'l><'col-sm-7'f>>" +
                "<'row'<'col-sm-12't>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                // 현재 상태 보존
                stateSave: true,
                // 표시 건수 기능
                {#lengthChange: false,#}
                // 검색 기능
                {#searching: false,#}
                // 정렬 기능
                {#ordering: false,#}
                // 정보 표시 기능
                {#info: false,#}
                // 페이징 기능
                {#paging: false#}

                language: {
                    search: "검색",
                    emptyTable: "데이터가 없습니다.",
                    lengthMenu: "페이지당 _MENU_ 개씩 보기",
                    info: "현재 _START_ - _END_ / _TOTAL_건",
                    infoEmpty: "데이터 없음",
                    zeroRecords: "일치하는 데이터가 없습니다.",
                    processing: "잠시만 기다려 주세요.",
                    paginate: {
                        next: "다음",
                        previous: "이전",
                    }
                }
            });
        });
    </script>
    <style>
        /* 필터링 (검색) */
        div.dataTables_filter {text-align : left !important;}
        div.dataTables_paging {text-align : left !important;}
    </style>

{% endblock content %}
<!doctype html>
