asgiref==3.5.0
astroid==2.4.2
beautifulsoup4==4.10.0
certifi==2021.10.8
colorama==0.4.3
Django==4.0.3
django-bootstrap4==22.1
djangorestframework==3.13.1
et-xmlfile==1.1.0
figma-export==0.1
importlib-metadata==4.11.3
isort==5.6.3
lazy-object-proxy==1.4.3
Markdown==3.3.6
mccabe==0.6.1
openpyxl==3.0.10
Pillow==9.0.1
pylint==2.6.0
pytz==2022.1
six==1.15.0
soupsieve==2.3.1
sqlparse==0.4.2
toml==0.10.1
tzdata==2022.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.7.0
