asgiref==3.5.0
astroid==2.4.2
certifi==2021.10.8
colorama==0.4.3
Django==4.0.3
djangorestframework==3.13.1
importlib-metadata==4.11.3
isort==5.6.3
lazy-object-proxy==1.4.3
Markdown==3.3.6
mccabe==0.6.1
pylint==2.6.0
pytz==2022.1
six==1.15.0
sqlparse==0.4.2
toml==0.10.1
tzdata==2022.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.7.0
