{% extends "../base_with_navbar.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid">
    <div class="bg-light rounded p-4">
        <form action="" target_Acc_third.Instrument_SN_id  method="post" enctype="multipart/form-data" autocomplete="on" >
            {% csrf_token %}
            {# content 상단 #}
            <div class="row">
                <div class="col"></div>
                {# 타이틀 #}
                <div class="col-6">
                    <select id="inspection_category" name="inspection_category" class="form-select mb-3" aria-label="Default select example" required onchange="location.href=(this.value);">
                        {% for category in inspection_category %}
                            <optgroup label="{{ forloop.counter }}. {{ category }}"></optgroup>
                            {% if category == 'Appearance Inspection' %}
                                <option value="{% url 'Appearanceapp:update_Packaging' target_Acc_third.Instrument_SN_id %}">1) Packaging Condition</option>
                                <option value="{% url 'Appearanceapp:update_Unpacking' target_Acc_third.Instrument_SN_id %}">2) Appearance of instrument</option>
                            {% endif %}
                            {% if category == 'Electrical Test' %}
                                <option value="{% url 'Electricalapp:update_Electrical' target_Acc_third.Instrument_SN_id %}">1) Electrical Test</option>
                            {% endif %}
                            {% if category == 'Hardware Adjustment' %}
                                <option value="{% url 'Hardwareapp:update_Hardware1' target_Acc_third.Instrument_SN_id %}">1) X-Arm & Adjust PIP</option>
                                <option value="{% url 'Hardwareapp:update_Hardware2' target_Acc_third.Instrument_SN_id %}">2) Check PIP & Autoload</option>
                            {% endif %}
                            {% if category == 'Performance Verification' %}
                                <option value="{% url 'Performanceapp:update_Performance1' target_Acc_third.Instrument_SN_id %}">1) Performance Verification (1)</option>
                                <option value="{% url 'Performanceapp:update_Performance2' target_Acc_third.Instrument_SN_id %}">2) Performance Verification (2)</option>
                            {% endif %}
                            {% if category == 'Attachment' %}
                               <option selected value="{% url 'Attachmentapp:update_Attachment' target_Acc_third.Instrument_SN_id %}">1) Attachment</option>
                            {% endif %}
                            {% if category == 'Accessories Kits' %}
                                <option value="{% url 'AccesorieKitapp:update_AccKit1' target_Acc_third.Instrument_SN_id %}">1) Accessories Kits (1)</option>
                                <option value="{% url 'AccesorieKitapp:update_AccKit2' target_Acc_third.Instrument_SN_id %}">2) Accessories Kits (2)</option>
                                <option selected value="{% url 'AccesorieKitapp:update_AccKit3' target_Acc_third.Instrument_SN_id %}">3) Accessories Kits (3)</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div style="text-align: left">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="all_pass" id="all_pass_electrical" onclick="onchange_check_AccKit3()">
                          <label class="form-check-label" for="all_pass_electrical">All Pass</label>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>

            {# content #}
            <div class="container-fluid">
                <table class="table table" style="text-align: center;">
                    <tbody>
                        <tr>
                            <td colspan="1" style="background-color: #DCEBFF">No</td>
                            <td colspan="3" style="background-color: #DCEBFF">Part Number</td>
                            <td colspan="5" style="background-color: #DCEBFF">Description </td>
                            <td colspan="1" style="background-color: #DCEBFF">Qty</td>
                            <td colspan="1" style="background-color: #DCEBFF">Ckeck</td>
                        </tr>
                        </tr>
                        <tr>
                            <td colspan="1">1</td>
                            <td colspan="3">N/A</td>
                            <td colspan="5">(Channel support)X-Arm Holding brakets</td>
                            <td colspan="1">2</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="XArm" id="XArm" value="checked"
                                            {% if target_Acc_third.XArm == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">2</td>
                            <td colspan="3">190148</td>
                            <td colspan="5">TRANSPORT SUPPORT BAR LEFT</td>
                            <td colspan="1">1</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="Bar_Left" id="Bar_Left" value="checked"
                                            {% if target_Acc_third.Bar_Left == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">3</td>
                            <td colspan="3">186675</td>
                            <td colspan="5">Support Bar on Top (for Top Plexiglas Cover)</td>
                            <td colspan="1">1</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="Bar_Top" id="Bar_Top" value="checked"
                                            {% if target_Acc_third.Bar_Top == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" style="background-color: #DCEBFF">Accessories kit #3, Upper box</td>
                        </tr>
                        <tr>
                            <td colspan="1">4</td>
                            <td colspan="3">53686-01</td>
                            <td colspan="5">BAG, BIO-HAZARD, 14.5 x 8.2 x 18, 200/CS</td>
                            <td colspan="1">1</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="Bag" id="Bag" value="checked"
                                            {% if target_Acc_third.Bag == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">5</td>
                            <td colspan="3">173410</td>
                            <td colspan="5">3 Carrier for 32 Tubes(11x60 - 14x120mm)</td>
                            <td colspan="1">1</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="Tube_32" id="Tube_32" value="checked"
                                            {% if target_Acc_third.Tube_32 == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">6</td>
                            <td colspan="3">182085</td>
                            <td colspan="5">TIP CARRIER, 5 TIP RACKS</td>
                            <td colspan="1">2</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="TipRack_5" id="TipRack_5" value="checked"
                                            {% if target_Acc_third.TipRack_5 == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">7</td>
                            <td colspan="3">97076-01</td>
                            <td colspan="5">ASSY, CAR, 7T, HHS, 4MFX</td>
                            <td colspan="1">1</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="MFX4" id="MFX4" value="checked"
                                            {% if target_Acc_third.MFX4 == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">8</td>
                            <td colspan="3">97432-01</td>
                            <td colspan="5">PED, ADAPTER, SMALL TUBE, SEEG</td>
                            </td>
                            <td colspan="1">2</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="SEEG" id="SEEG" value="checked"
                                            {% if target_Acc_third.SEEG == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">9</td>
                            <td colspan="3">403453</td>
                            <td colspan="5">SCREW, FLHX M3X8, DIN7991, A2SS</td>
                            <td colspan="1">4</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="FLHX" id="FLHX" value="checked"
                                            {% if target_Acc_third.FLHX == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">10</td>
                            <td colspan="3">400263</td>
                            <td colspan="5">SCREW, SOHX, M3X8, DIN912, A2SS</td>
                            <td colspan="1">2</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="SOHX" id="SOHX" value="checked"
                                            {% if target_Acc_third.SOHX == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">11</td>
                            <td colspan="3">N/A</td>
                            <td colspan="5">HHS Base Plate</td>
                            <td colspan="1">1</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="HHS_Plate" id="HHS_Plate" value="checked"
                                            {% if target_Acc_third.HHS_Plate == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">12</td>
                            <td colspan="3">97319-01</td>
                            <td colspan="5">ASSY, CAR, MFX, 6T, REAG, DW, MTP</td>
                            <td colspan="1">1</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="MTP" id="MTP" value="checked"
                                            {% if target_Acc_third.MTP == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">13</td>
                            <td colspan="3">62964-03</td>
                            <td colspan="5">RENO KIT 3, STAR VERIFY KIT</td>
                            <td colspan="1">1</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="Verify_Kit" id="Verify_Kit" value="checked"
                                            {% if target_Acc_third.Verify_Kit == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">14</td>
                            <td colspan="3">235969</td>
                            <td colspan="5">STD VOL CO-RE TIPS FIL 5x96</td>
                            <td colspan="1">1</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="STD" id="STD" value="checked"
                                            {% if target_Acc_third.STD == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">15</td>
                            <td colspan="3">235970</td>
                            <td colspan="5">HIGH VOL EO-RE TIPS FIL 5x96</td>
                            <td colspan="1">1</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="High" id="High" value="checked"
                                            {% if target_Acc_third.High == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">16</td>
                            <td colspan="3">199034</td>
                            <td colspan="5">
                                 <div class="input-group mb-3">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Hamiltion Heater & Shaker(HHS) S/N :</span>
                                  <input type="text" name="HHS_SN" id="Needle_Lot" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                  {% if target_Acc_third.HHS_SN %} value={{target_Acc_third.HHS_SN}} {% endif %}>
                                </div>
                            </td>
                            <td colspan="1">1</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="HHS_Check" id="HHS_Check" value="checked"
                                            {% if target_Acc_third.HHS_Check == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">17</td>
                            <td colspan="3">99088-24</td>
                            <td colspan="5">[USB] Hamilton Heater Shaker Manual</td>
                            <td colspan="1">1</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="HHS_Manual" id="HHS_Manual" value="checked"
                                            {% if target_Acc_third.HHS_Manual == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">18</td>
                            <td colspan="3">N/A</td>
                            <td colspan="5">Stop Barcode</td>
                            <td colspan="1">1</td>
                            <td colspan="1">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="Stop_Barcode" id="Stop_Barcode" value="checked"
                                            {% if target_Acc_third.Stop_Barcode == 'checked' %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12">
                               <div class="form-floating">
                                  <textarea class="form-control" placeholder="Leave a comment here" id="Remark" style="height: 100px" name="Remark">
                                   {% if target_Acc_third.Remark %} {{target_Acc_third.Remark}} {% endif %}
                                  </textarea>
                                  <label for="Remark">Remark</label>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {# content 하단 #}
            <div class="row">
                <div class="col"></div>
                {# 하단 버튼들 #}
                <div class="col-6">
                    <div class="row" style="text-align: left; font-size: 1rem">
                        <div class="col">
                            <div style="text-align: left">
                                <input type="submit" style="margin-bottom: .5rem" class="btn btn-danger" value="부적합품 보고서작성">
                            </div>
                        </div>
                        <div class="col">
                            <div style="text-align: right">
                                <input type="button" style="margin-bottom: .5rem" class="btn btn-primary" value="저장" onclick="alert_save()">
                                <button class="btn btn-outline-secondary"  type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">수입검사 성적서 완료</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
             <!-- Barcoder Scanner Modal -->
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">수입검사 성적서 완료</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      {% for inspection_info in inspection %}
                    <div class="container">
                        <div class="row">
                            <h5>장비명 : {{inspection_info.Name}}</h5>
                            <h5>시리얼 번호 : {{inspection_info.Instrument_SN_id}}</h5>
                        </div>
                      <div class="row row-cols-2">
                        <div class="col-3">
                            <h5>완료일 : </h5>
                        </div>
                        <div class="col">
                            <input class="form-control" type="date" name="CompleteDt" id="CompleteDt" placeholder="Complete Date" required>
                        </div>
                      </div>
                    </div>
                      {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" style="margin-bottom: .5rem" class="btn btn-primary" value="완제품성적서 이동" onclick="alert_save()">
                  </div>
                </div>
              </div>
            </div>
        </form>

    </div>

    <script src="{% static '../static/js/AccesorieKitapp.js' %}"></script>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
