<link rel="stylesheet" href="../../../static/styles/style.css">
{% extends "../base_with_navbar.html" %}

{% block content %}
<main class="site-body">
  <div class="main-header">
      <h1>Seegene QC</h1>
  </div>

  <div class="content-list max-content-width">
    <div class="header">
      <h2>Main Category</h2>
      <a class="cp-ic-button circle newreview" href="#">Setting</a>
    </div>

      <div class="contents">
      {% for category in main_category %}
          <a href="{% url 'Mainapp:subcategory' category %}">
            <section class="cp-card content">
              <div class="body">
                <h2 class="title">{{ category }}</h2>
              </div>
            </section>
          </a>
      {% empty %}  {# reviews가 존재하지 않거나 비어있으면 empty문으로 간다. #}
          <p class="empty">아직 리뷰가 없어요 :(</p>
      {% endfor %}
      </div>
  </div>
</main>
{% endblock content %}
