<link rel="stylesheet" href="../static/styles/style.css">
{% extends "./base.html" %}

{% load static %}

{% block header %}
<header class="site-header navbar">
    <div class="content max-width">
        <a href="{% url 'Mainapp:index' %}">
            <img class="logo" src="{% static 'assets/seegene_logo.png' %}" alt="Seegene Logo">
        </a>
        <nav>
            <ul class="navbar">
                <div class="container-fluid">
                    {% if not user.is_authenticated %}
                        <a href="{% url 'Userapp:login' %}?next={{ request.path }}" class="nav-link active">
                            <span>login</span>
                        </a>
                        <a href="{% url 'Userapp:create' %}?next={{ request.path }}" class="nav-link active">
                            <span>SignUp</span>
                        </a>
                    {%  else %}
                        <a href="{% url 'Userapp:detail' pk=user.pk %}" class="nav-link active">
                            <span>MyPage</span>
                        </a>
                        <a href="{% url 'Userapp:logout' %}?next={{ request.path}}" class="nav-link active">
                            <span>logout</span>
                        </a>
                        {% if user.profile.image %}
                            <img src="{{ user.profile.image.url }}" alt="" style="height: 3rem; width: 3rem; border-radius: 2rem; object-fit: cover; margin-right: .5rem">
                            <h6 style="margin-top: 1rem;">{{user.profile.name}}</h6>
                        {% else %}
                            <img src="{% static 'assets/user.png' %}" alt="" style="height: 2rem; width: 2rem; border-radius: 2rem;  object-fit: cover; margin-top: .2rem">
                        {% endif %}
                    {% endif %}
                </div>
            </ul>
        </nav>
    </div>
</header>
{% endblock header %}
{% block footer %}
{#<footer class="site-footer">#}
{#  <div class="max-content-width content">#}
{#    <div>Instrument QC</div>#}
{#  </div>#}
{#</footer>#}
{% endblock footer %}
