{% extends "../base_with_navbar.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid">
    <div class="bg-light rounded p-4">
        <form method="post" autocomplete="on" enctype="multipart/form-data">
            {% csrf_token %}
            {# content 상단 #}
            <div class="row">
                <div class="col"></div>
                {# 타이틀 #}
                <div class="col-6">
                    <h3 class="text-center mb-4">Inspection Report</h3>
                    <h5 class="text-center">{{ target_Inspection.Name }}</h5>
                </div>
                <div class="col"></div>
            </div>

            {# content #}
            <div class="container-fluid">
                <table class="table table" style="text-align: center;">
                    <tbody>
                        <tr>
                            <td style="background-color: #DCEBFF">Instrument SN</td>
                            <td style="background-color: #DCEBFF">Computer SN</td>
                        </tr>
                        <tr>
                            <td class="px-5">{{ target_Inspection.Instrument_SN_id }}</td>
                            <td class="px-5">
                                {% if target_Inspection.Computer_SN %}
                                    <input class="form-control" type="text" name="Computer_SN" value={{ target_Inspection.Computer_SN }}>
                                {% else %}
                                    <input class="form-control" type="text" name="Computer_SN" placeholder="Computer SN">
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #DCEBFF">Inspector</td>
                            <td style="background-color: #DCEBFF">Start Date</td>
                        </tr>
                        <tr>
                            <td class="px-5">
                                {% if target_Inspection.Inspector %}
                                    <input class="form-control" type="text" name="Inspector" value={{ target_Inspection.Inspector }}>
                                {% else %}
                                    <input class="form-control" type="text" name="Inspector" placeholder="Inspector">
                                {% endif %}
                            </td>
                            <td class="px-5">
                                {% if target_Inspection.Start_Date %}
                                    <input class="form-control" type="date" name="Start_Date" value={{ target_Inspection.Start_Date }}>
                                {% else %}
                                    <input class="form-control" type="date" name="Start_Date" placeholder="Start Date">
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #DCEBFF">Hamilton SW Version</td>
                            <td style="background-color: #DCEBFF">Hamilton FV2 Version</td>
                        </tr>
                        <tr>
                            <td class="px-5">
                                {% if target_Inspection.SW_Version %}
                                    <input class="form-control" type="text" name="SW_Version" value={{ target_Inspection.SW_Version }}>
                                {% else %}
                                    <input class="form-control" type="text" name="SW_Version" placeholder="Hamilton SW Version">
                                {% endif %}
                            </td>
                            <td class="px-5">
                                {% if target_Inspection.FV2_Version %}
                                    <input class="form-control" type="text" name="FV2_Version" value={{ target_Inspection.FV2_Version }}>
                                {% else %}
                                    <input class="form-control" type="text" name="FV2_Version" placeholder="Hamilton FV2 Version">
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #DCEBFF">Pipette Ch(PX)</td>
                            <td style="background-color: #DCEBFF">X-drive(XO)</td>
                        </tr>
                        <tr>
                            <td class="px-5">
                                {% if target_Inspection.FW_PipetteCh %}
                                    <input class="form-control" type="text" name="FW_PipetteCh" value={{ target_Inspection.FW_PipetteCh }}>
                                {% else %}
                                    <input class="form-control" type="text" name="FW_PipetteCh" placeholder="Pipette Ch(PX)">
                                {% endif %}
                            </td>
                            <td class="px-5">
                                {% if target_Inspection.FW_Xdrive %}
                                    <input class="form-control" type="text" name="FW_Xdrive" value={{ target_Inspection.FW_Xdrive }}>
                                {% else %}
                                    <input class="form-control" type="text" name="FW_Xdrive" placeholder="X-drive(XO)">
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #DCEBFF">Document No.</td>
                            <td style="background-color: #DCEBFF">Master(CO)</td>
                        </tr>
                        <tr>
                            <td class="px-5">{{ target_Inspection.Revision }}</td>
                            <td class="px-5">
                                {% if target_Inspection.FW_Master %}
                                    <input class="form-control" type="text" name="FW_Master" value={{ target_Inspection.FW_Master }}>
                                {% else %}
                                    <input class="form-control" type="text" name="FW_Master" placeholder="Master(CO)">
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {# content 하단 #}
            <div class="row">
                <div class="col"></div>
                {# 하단 버튼들 #}
                <div class="col-6">
                    <div class="row" style="text-align: left; font-size: 1rem">
                        <div class="col">
                            <div style="text-align: right">
                                <input type="submit" style="margin-bottom: .5rem" class="btn btn-primary" value="저장" onclick="alert_save()">
                                <input type="submit" style="margin-bottom: .5rem" class="btn btn-primary" value="다음" onclick="alert_save()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </form>
    </div>
    <script src="{% static '../static/js/Inspectionapp.js' %}"></script>
</div>
{% endblock %}