{% extends "../base_with_navbar.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<main class="site-body">
    <div class="container-fluid px-10" style="max-width: 1000px;">
        <div class="bg-light rounded p-4" >
            <h3 class="text-center mb-4">Inspection Report</h3>
            <form method="post" autocomplete="on" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <h5 class="text-center mb-3">{{ target_Inspection.Name }}</h5>
                    <h5 class="text-center mb-3">{{ target_Inspection.Instrument_SN_id }}</h5>
                    <h5 class="text-center mb-3">{{ target_Inspection.Revision }}</h5>
                </div>
                <label class="form-label">Computer SN</label>
                <div class="input-group mb-3">
                    {% if target_Inspection.Computer_SN %}
                    <input class="form-control" type="text" name="Computer_SN" value={{ target_Inspection.Computer_SN }}>
                    {% else %}
                    <input class="form-control" type="text" name="Computer_SN" placeholder="Computer SN">
                    {% endif %}
                </div>
                <label class="form-label">Inspector</label>
                <div class="input-group mb-3">
                    {% if target_Inspection.Inspector %}
                    <input class="form-control" type="text" name="Inspector" value={{ target_Inspection.Inspector }}>
                    {% else %}
                    <input class="form-control" type="text" name="Inspector" placeholder="Inspector">
                    {% endif %}
                </div>
                <label class="form-label">Start Date</label>
                <div class="input-group mb-3">
                    {% if target_Inspection.Start_Date %}
                    <input class="form-control" type="date" name="Start_Date" value={{ target_Inspection.Start_Date }}>
                    {% else %}
                    <input class="form-control" type="date" name="Start_Date" placeholder="Start Date">
                    {% endif %}
                </div>
                <label class="form-label">Hamilton SW Version</label>
                <div class="input-group mb-3">
                    {% if target_Inspection.SW_Version %}
                    <input class="form-control" type="text" name="SW_Version" value={{ target_Inspection.SW_Version }}>
                    {% else %}
                    <input class="form-control" type="text" name="SW_Version" placeholder="Hamilton SW Version">
                    {% endif %}
                </div>
                <label class="form-label">Hamilton FV2 Version</label>
                <div class="input-group mb-3">
                    {% if target_Inspection.FV2_Version %}
                    <input class="form-control" type="text" name="FV2_Version" value={{ target_Inspection.FV2_Version }}>
                    {% else %}
                    <input class="form-control" type="text" name="FV2_Version" placeholder="Hamilton FV2 Version">
                    {% endif %}
                </div>
                <label class="form-label">Pipette Ch(PX)</label>
                <div class="input-group mb-3">
                    {% if target_Inspection.FW_PipetteCh %}
                    <input class="form-control" type="text" name="FW_PipetteCh" value={{ target_Inspection.FW_PipetteCh }}>
                    {% else %}
                    <input class="form-control" type="text" name="FW_PipetteCh" placeholder="Pipette Ch(PX)">
                    {% endif %}
                </div>
                <label class="form-label">X-drive(XO)</label>
                <div class="input-group mb-3">
                    {% if target_Inspection.FW_Xdrive %}
                    <input class="form-control" type="text" name="FW_Xdrive" value={{ target_Inspection.FW_Xdrive }}>
                    {% else %}
                    <input class="form-control" type="text" name="FW_Xdrive" placeholder="X-drive(XO)">
                    {% endif %}
                </div>
                <label class="form-label">Master(CO)</label>
                <div class="input-group mb-3">
                    {% if target_Inspection.FW_Master %}
                    <input class="form-control" type="text" name="FW_Master" value={{ target_Inspection.FW_Master }}>
                    {% else %}
                    <input class="form-control" type="text" name="FW_Master" placeholder="Master(CO)">
                    {% endif %}
                </div>
                <div style="text-align: right">
                    <a id="save" class="update_SN" href="{% url 'Inspectionapp:update' target_Inspection.Instrument_SN_id %}">
                        <button type="submit" class="btn btn-primary" onclick="alert_save()">저장</button>
                    </a>
                    <a id="next" class="update_SN" href="{% url 'Mainapp:index' %}">
                      <button type="submit" class="btn btn-primary" onclick="alert_save()">다음</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static '../static/js/Inspectionapp.js' %}"></script>
</main>
{% endblock %}