{% extends "../base_with_navbar.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <div class="container-fluid">
        <div class="bg-light rounded p-4">
            <form action="" method="post" autocomplete="on" enctype="multipart/form-data">
                {% csrf_token %}
                {# content 상단 #}
                <div class="row">
                    <div class="col"></div>
                    {# 타이틀 #}
                    <div class="col-6">
                        <select id="inspection_category" name="inspection_category" class="form-select mb-3" aria-label="Default select example" required onchange="location.href=(this.value);">
                            {% for category in inspection_category %}
                                <optgroup label="{{ forloop.counter }}. {{ category }}"></optgroup>
                                {% if category == 'Appearance Inspection' %}
                                    <option value="{% url 'Appearanceapp:update_Packaging' target_Hardware.Instrument_SN_id %}">1) Packaging Condition</option>
                                    <option value="{% url 'Appearanceapp:update_Unpacking' target_Hardware.Instrument_SN_id %}">2) Appearance of instrument</option>
                                {% endif %}
                                {% if category == 'Electrical Test' %}
                                    <option value="{% url 'Electricalapp:update_Electrical' target_Hardware.Instrument_SN_id %}">1) Electrical Test</option>
                                {% endif %}
                                {% if category == 'Hardware Adjustment' %}
                                    <option selected value="{% url 'Hardwareapp:update_Hardware1' target_Hardware.Instrument_SN_id %}">1) X-Arm & Adjust PIP</option>
                                    <option value="{% url 'Hardwareapp:update_Hardware2' target_Hardware.Instrument_SN_id %}">2) Check PIP & Autoload</option>
                                {% endif %}
                                {% if category == 'Performance Verification' %}
                                    <option value="{% url 'Performanceapp:update_Performance1' target_Hardware.Instrument_SN_id %}">1) Performance Verification (1)</option>
                                    <option value="{% url 'Performanceapp:update_Performance2' target_Hardware.Instrument_SN_id %}">2) Performance Verification (2)</option>
                                {% endif %}
                                {% if category == 'Attachment' %}
                                    <option value="{% url 'Attachmentapp:update_Attachment' target_Hardware.Instrument_SN_id %}">1) Attachment</option>
                                {% endif %}
                                {% if category == 'Accessories Kits' %}
                                    <option value="{% url 'AccesorieKitapp:update_AccKit1' target_Hardware.Instrument_SN_id %}">1) Accessories Kits (1)</option>
                                    <option value="{% url 'AccesorieKitapp:update_AccKit2' target_Hardware.Instrument_SN_id %}">2) Accessories Kits (2)</option>
                                    <option value="{% url 'AccesorieKitapp:update_AccKit3' target_Hardware.Instrument_SN_id %}">3) Accessories Kits (3)</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col"></div>
                </div>

            </form>
            <form action="{% url 'Hardwareapp:update_Hardware1' target_Hardware.Instrument_SN_id %}" method="post" autocomplete="on" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Button trigger modal -->
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: .8rem">
                            Calibration Tool
                        </button>
                    </div>
                    <div class="col-4">
                        <input type="text"  class="form-control-plaintext" autocomplete="off" id="HardWare_CalibrationTool" name="HardWare_CalibrationTool"  style="width: 12rem"
                                {% if target_Hardware.HardWare_CalibrationTool %} value={{target_Hardware.HardWare_CalibrationTool}} {% endif %}>
                    </div>
                    <div class="col-3"></div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#BarcodeModal" style="font-size: .8rem">
                            Barcode Block
                        </button>
                    </div>
                    <div class="col-4">
                        <input type="text" readonly class="form-control-plaintext" autocomplete="off" id="HardWare_BarcodeCarrier" name="HardWare_BarcodeCarrier"  style="width: 12rem"
                                {% if target_Hardware.HardWare_BarcodeCarrier %} value={{target_Hardware.HardWare_BarcodeCarrier}} {% endif %}>
                    </div>
                    <div class="col-3"></div>
                </div>
                <div class="container-fluid">
                    <table class="table" style="text-align: center;">
                        <tbody style="vertical-align: middle;">
                            <tr>
                                <td colspan="3" style="background-color: #DCEBFF">Category</td>
                                <td colspan="3" style="background-color: #DCEBFF">Method</td>
                                <td colspan="3" style="background-color: #DCEBFF">Acceptance Criteria</td>
                                <td colspan="3" style="background-color: #DCEBFF">Result</td>
                            </tr>
                            <tr>
                                <td colspan="3">X-Arm</td>
                                <td colspan="3">AdjustArm Z using pip</td>
                                <td colspan="3">≤+/-5</td>
                                <td colspan="3">
                                    <div class="form-check form-check-inline">
                                        <div class="input-group input-group-sm mb-3">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Left</span>
                                            <input type="text" class="form-control" autocomplete="off" name="HardWare_XArm_left" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                    {% if target_Hardware.HardWare_XArm_left %} value={{target_Hardware.HardWare_XArm_left}} {% endif %} onkeyup="Integer_Validate()">
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <div class="input-group input-group-sm mb-3">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Right</span>
                                            <input type="text" class="form-control" autocomplete="off" name="HardWare_XArm_right" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                    {% if target_Hardware.HardWare_XArm_right %} value={{target_Hardware.HardWare_XArm_right}} {% endif %} onkeyup="Integer_Validate()">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">X-Arm</td>
                                <td colspan="3">Check Arm Diff</td>
                                <td colspan="3">≤+/-10</td>
                                <td colspan="3">
                                    <div class="form-check form-check-inline">
                                        <input class="form-control form-control-sm" autocomplete="off" name="HardWare_XArm_Diff" type="text" placeholder="Input Result" aria-label="Input Result"
                                                {% if target_Hardware.HardWare_XArm_Diff %} value={{target_Hardware.HardWare_XArm_Diff}} onkeyup="Integer_Validate()" {% endif %}>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Pipette Channel_1</td>
                                <td colspan="3">Adjust PIP Manual</td>
                                <td colspan="3">X dev/tilt : ≤+/-20<br>Y tilt : ≤+/-10</td>
                                <td colspan="3">
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P1_dev_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xdev1" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xdev1 %} value={{target_Hardware.HardWare_Xdev1}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P1_tilt_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xtilt1" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xtilt1 %} value={{target_Hardware.HardWare_Xtilt1}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P1_tilt_Y:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Ytilt1" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Ytilt1 %} value={{target_Hardware.HardWare_Ytilt1}} {% endif %} onkeyup="Channel_AdjustY_Validate()">
                                            </div>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P1_S/N:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_SN1" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_SN1 %} value={{target_Hardware.HardWare_SN1}} {% endif %}>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Pipette Channel_2</td>
                                <td colspan="3">Adjust PIP Manual</td>
                                <td colspan="3">X dev/tilt : ≤+/-20<br>Y tilt : ≤+/-10</td>
                                <td colspan="3">
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P2_dev_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xdev2" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xdev2 %} value={{target_Hardware.HardWare_Xdev2}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P2_tilt_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xtilt2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xtilt2 %} value={{target_Hardware.HardWare_Xtilt2}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P2_tilt_Y:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Ytilt2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Ytilt2 %} value={{target_Hardware.HardWare_Ytilt2}} {% endif %} onkeyup="Channel_AdjustY_Validate()">
                                            </div>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P2_S/N:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_SN2" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_SN2 %} value={{target_Hardware.HardWare_SN2}} {% endif %}>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Pipette Channel_3</td>
                                <td colspan="3">Adjust PIP Manual</td>
                                <td colspan="3">X dev/tilt : ≤+/-20<br>Y tilt : ≤+/-10</td>
                                <td colspan="3">
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P3_dev_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xdev3" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xdev3 %} value={{target_Hardware.HardWare_Xdev3}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P3_tilt_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xtilt3" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xtilt3 %} value={{target_Hardware.HardWare_Xtilt3}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P3_tilt_Y:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Ytilt3" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Ytilt3 %} value={{target_Hardware.HardWare_Ytilt3}} {% endif %} onkeyup="Channel_AdjustY_Validate()">
                                            </div>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P3_S/N:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_SN3" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_SN3 %} value={{target_Hardware.HardWare_SN3}} {% endif %}>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Pipette Channel_4</td>
                                <td colspan="3">Adjust PIP Manual</td>
                                <td colspan="3">X dev/tilt : ≤+/-20<br>Y tilt : ≤+/-10</td>
                                <td colspan="3">
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P4_dev_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xdev4" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xdev4 %} value={{target_Hardware.HardWare_Xdev4}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P4_tilt_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xtilt4" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xtilt4 %} value={{target_Hardware.HardWare_Xtilt4}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P4_tilt_Y:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Ytilt4" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Ytilt4 %} value={{target_Hardware.HardWare_Ytilt4}} {% endif %} onkeyup="Channel_AdjustY_Validate()">
                                            </div>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P4_S/N:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_SN4" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_SN4 %} value={{target_Hardware.HardWare_SN4}} {% endif %}>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Pipette Channel_5</td>
                                <td colspan="3">Adjust PIP Manual</td>
                                <td colspan="3">X dev/tilt : ≤+/-20<br>Y tilt : ≤+/-10</td>
                                <td colspan="3">
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P5_dev_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xdev5" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xdev5 %} value={{target_Hardware.HardWare_Xdev5}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P5_tilt_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xtilt5" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xtilt5 %} value={{target_Hardware.HardWare_Xtilt5}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P5_tilt_Y:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Ytilt5" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Ytilt5 %} value={{target_Hardware.HardWare_Ytilt5}} {% endif %} onkeyup="Channel_AdjustY_Validate()">
                                            </div>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P5_S/N:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_SN5" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_SN5 %} value={{target_Hardware.HardWare_SN5}} {% endif %}>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Pipette Channel_6</td>
                                <td colspan="3">Adjust PIP Manual</td>
                                <td colspan="3">X dev/tilt : ≤+/-20<br>Y tilt : ≤+/-10</td>
                                <td colspan="3">
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P6_dev_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xdev6" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xdev6 %} value={{target_Hardware.HardWare_Xdev6}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P6_tilt_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xtilt6" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xtilt6 %} value={{target_Hardware.HardWare_Xtilt6}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P6_tilt_Y:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Ytilt6" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Ytilt6 %} value={{target_Hardware.HardWare_Ytilt6}} {% endif %} onkeyup="Channel_AdjustY_Validate()">
                                            </div>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P6_S/N:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_SN6" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_SN6 %} value={{target_Hardware.HardWare_SN6}} {% endif %}>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Pipette Channel_7</td>
                                <td colspan="3">Adjust PIP Manual</td>
                                <td colspan="3">X dev/tilt : ≤+/-20<br>Y tilt : ≤+/-10</td>
                                <td colspan="3">
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P7_dev_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xdev7" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xdev7 %} value={{target_Hardware.HardWare_Xdev7}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P7_tilt_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xtilt7" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xtilt7 %} value={{target_Hardware.HardWare_Xtilt7}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P7_tilt_Y:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Ytilt7" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Ytilt7 %} value={{target_Hardware.HardWare_Ytilt7}} {% endif %} onkeyup="Channel_AdjustY_Validate()">
                                            </div>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P7_S/N:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_SN7" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_SN7 %} value={{target_Hardware.HardWare_SN7}} {% endif %}>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Pipette Channel_8</td>
                                <td colspan="3">Adjust PIP Manual</td>
                                <td colspan="3">X dev/tilt : ≤+/-20<br>Y tilt : ≤+/-10</td>
                                <td colspan="3">
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P8_dev_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xdev8" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xdev8 %} value={{target_Hardware.HardWare_Xdev8}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P8_tilt_X:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Xtilt8" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Xtilt8 %} value={{target_Hardware.HardWare_Xtilt8}} {% endif %} onkeyup="Channel_AdjustX_Validate()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P8_tilt_Y:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_Ytilt8" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_Ytilt8 %} value={{target_Hardware.HardWare_Ytilt8}} {% endif %} onkeyup="Channel_AdjustY_Validate()">
                                            </div>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <div class="input-group input-group-sm mb-3">
                                                <span class="input-group-text" id="inputGroup-sizing-sm">P8_S/N:</span>
                                                <input type="text" class="form-control" autocomplete="off" name="HardWare_SN8" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
                                                        {% if target_Hardware.HardWare_SN8 %} value={{target_Hardware.HardWare_SN8}} {% endif %}>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">Pipette Channel</td>
                                <td colspan="3">Adjust PIP</td>
                                <td colspan="3"></td>
                                <td colspan="3">
                                    <div class="col">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="HardWare_Adjust" id="HardWare_Adjust1" value="Pass"
                                                   {% if target_Hardware.HardWare_Adjust == 'Pass' %} checked{% endif %}>
                                            <label class="form-check-label" for="HardWare_Adjust1">Pass</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="HardWare_Adjust" id="HardWare_Adjust2" value="Fail"
                                          {% if target_Hardware.HardWare_Adjust == 'Fail' %} checked{% endif %}>
                                          <label class="form-check-label" for="HardWare_Adjust2">Fail</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {# content 하단 #}
                <div class="row">
                    <div class="col"></div>
                    {# 하단 버튼들 #}
                    <div class="col-6">
                        <div class="row" style="text-align: left; font-size: 1rem">
                            <div class="col">
                                <div style="text-align: left">
                                    <input type="submit" style="margin-bottom: .5rem" class="btn btn-danger" value="부적합품 보고서작성">
                                    <input type="file" name="file" id="file">
                                </div>
                            </div>
                            <div class="col">
                                <div style="text-align: right">
                                    <input type="submit" style="margin-bottom: .5rem" class="btn btn-primary" value="저장" onclick="alert_save()">
                                    <input type="submit" style="margin-bottom: .5rem" class="btn btn-primary" value="다음">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </form>
<!--            <form action="" method="get">-->
<!--            <input type="text" name="q" value="abc"/>-->
<!--            <input type="submit" value="검색">-->
<!--            </form>-->

<!--            <div class="mb-3">-->
<!--              <label for="formFile" class="form-label">Default file input example</label>-->
<!--              <input class="form-control" type="file" id="formFile">-->
<!--                <button> 입력</button>-->
<!--              </a>-->
<!--            </div>-->



        <!-- Calibration Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Channel Calibration Tool</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table id="instrument-table" class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Mgt_Num</th>
                                <th scope="col">Equipment_Name</th>
                                <th scope="col">SN</th>
                                <th scope="col">CAL_Date</th>
                                <th scope="col">Click</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <!-- Calibration 리스트     -->
                                {% for calibration in inspection_calibration %}
                                    <td value={{ calibration.Mgt_Num }}>{{ calibration.Mgt_Num }}</td>
                                    <td value={{ calibration.Instrument }}>{{ calibration.Instrument }}</td>
                                    <td value={{ calibration.Serial_Num }}>{{ calibration.Serial_Num }}</td>
                                    <td value={{ calibration.CAL_Date }}>{{ calibration.CAL_Date | date:'Y-m-d'}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" onclick="Cal_Get_Info(this)" value={{calibration.pk}} data-bs-dismiss="modal">선택</button>
                                    </td>
                                    <tr>
                                {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Calibration Modal -->
        <!-- Barcode Modal -->
        <div class="modal fade" id="BarcodeModal" tabindex="-1" aria-labelledby="BarcodeModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Bacode_title">Barcode Carrier</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Mgt_Num</th>
                                <th scope="col">Name</th>
                                <th scope="col">SN</th>
                                <th scope="col">Calibration_Date</th>
                                <th scope="col">Click</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <!-- Barcode 리스트     -->
                                {% for barcode in inspection_Barcode %}
                                    <td value={{ barcode.Mgt_Num }}>{{ barcode.Mgt_Num }}</td>
                                    <td value={{ barcode.Instrument }}>{{ barcode.Instrument }}</td>
                                    <td value={{ barcode.Serial_Num }}>{{ barcode.Serial_Num }}</td>
                                    <td value={{ barcode.CAL_Date }}>{{ barcode.CAL_Date | date:'Y-m-d'}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" onclick="Barcode_Get_Info(this)" value={{barcode.pk}} data-bs-dismiss="modal">
                                            선택
                                        </button>
                                    </td>
                                    <tr>
                                {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Barcode Modal -->
        <script src="{% static '../static/js/Inspectionapp.js' %}"></script>
        <script src="{% static '../static/js/Hardwareapp.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!--     {# DataTable (MIT license) #}-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#instrument-table').DataTable({
                dom: "<'row'<'col-sm-5'l><'col-sm-7'f>>" +
                "<'row'<'col-sm-12't>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                // 현재 상태 보존
                stateSave: true,
                // 표시 건수 기능
                {#lengthChange: false,#}
                // 검색 기능
                {#searching: false,#}
                // 정렬 기능
                {#ordering: false,#}
                // 정보 표시 기능
                {#info: false,#}
                // 페이징 기능
                {#paging: false#}

                language: {
                    emptyTable: "데이터가 없습니다.",
                    lengthMenu: "페이지당 _MENU_ 개씩 보기",
                    info: "현재 _START_ - _END_ / _TOTAL_건",
                    infoEmpty: "데이터 없음",
                    zeroRecords: "일치하는 데이터가 없습니다.",
                    processing: "잠시만 기다려 주세요.",
                    paginate: {
                        next: "다음",
                        previous: "이전",
                    }
                }
            });
        });
    </script>

    <script>
        function readFile2(){
        document.getElementById('file').onchange = function(){

          var file = this.files[0];

          var reader = new FileReader();
          reader.onload = function(progressEvent){
            // Entire file
            console.log(this.result);

            // By lines
            var lines = this.result.split('\n');
            for(var line = 0; line < lines.length; line++){
              console.log(lines[line]);
            }
          };
          reader.readAsText(file);
};
        }
    </script>

    <style>
        /* 필터링 (검색) */
        div.dataTables_filter {text-align : left !important;}
        div.dataTables_paging {text-align : left !important;}
    </style>
    </div>
{% endblock %}